<div class="footer-bottom">
    <div class="row">
        <div class="medium-4 medium-4 push-8 columns">
            <ul class="home-social">
                <li><a href="mailto:phongdaotao@quangtrung.edu.vn" class="fi-mail" title="Gửi thư cho chúng tôi."></a></li>
            </ul>
        </div>
        <div class="medium-8 medium-8 pull-4 columns">
            <a href="http://qtu.edu.vn/daotao" class="logo regular"></a>
            <ul class="tkb-links">
                <li><a href="{{ path('qtu_tkb_about') }}">Về chúng tôi</a></li>
            </ul>
            <ul class="tkb-links">
                <li><a href="{#{{ path('qtu_common_contact') }}#}">Liên hệ</a></li>
            </ul>
            <p class="copyright">© 2017 Phòng Đào tạo.</p>
        </div>
    </div>
</div>

