parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: cf_giathien
    database_user: cf_giathien
    database_password: cf_giathien
    locale: vi
    mailer_transport: gmail
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: giathien_caphe_20tonducthang

    sonata.coffee.groupicon: "<i class='fa fa-coffee'></i>"
    sonata.inventory.groupicon: "<i class='fa fa-industry'></i>"
    sonata.material.groupicon: "<i class='fa fa-lemon-o'></i>"
    sonata.news.groupicon: "<i class='fa fa-newspaper-o'></i>"
    sonata.user.groupicon: "<i class='fa fa-users'></i>"
     
    sonata.admin.configuration.filters.persist: true
